* {
  padding: 0;
  margin: 0;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif !important;
}

h1 {
  display: none;
}

h2 {
  font-size: 28px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

body {
  background-color: rgb(252, 249, 244);
}

.top,
.members {
  width: 100%;
}

.about,
.access,
.main-visuals,
.dates {
  width: 90%;
  margin: 90px 5%;
}

footer {
  padding: 3px 0;
  text-align: center;
}

/* Top */
.top {
  position: relative;
  overflow: hidden;
}

.main-visual {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.top::after {
  content: ""; /* 疑似要素に必須 */
  width: 120%; /* 幅いっぱい */
  height: 12%; /* 高さいっぱい */
  display: block; /* 高さを指定するためにブロック要素にする */
  background-color: rgb(252, 249, 244);
  filter: blur(18px);
  position: absolute;
  bottom: -35px;
  left: -10%;
}

/* About */
.about {
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  background-image: url("./images/latter.png");
  background-size: contain;
  width: 80px;
  height: 80px;
  opacity: 0.2;
  top: 25%;
  right: 0;
}

.about::after {
  content: "";
  position: absolute;
  background-image: url("./images/heart-sh10.png");
  background-size: contain;
  width: 80px;
  height: 80px;
  opacity: 0.2;
  bottom: 0;
}

.about-sentence {
  font-size: 18px;
  letter-spacing: 1.2;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Members */
.members {
  margin: 90px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-icon {
  width: 30vw;
  height: 30vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.film-wrap {
  width: 100%;
  background-color: #111;
  overflow-x: scroll;
}

.film {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
}

.film::before,
.film::after {
  content: "";
  position: absolute;
  width: 2015px;
  height: 16px;
  background-image: url("./images/white-dot.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  left: 0px;
}

.film p {
  color: coral;
}

.photo {
  height: 70%;
  margin-left: 15px;
  margin-bottom: 15px;
}

.photo img {
  width: 185px;
  height: 100%;
  object-fit: cover;
}

.photo a {
  text-decoration: none;
}

.photo p {
  margin: 0px 8px;
  display: inline-block;
  color: coral;
  border-bottom: 1px solid coral;
}

.film::before {
  bottom: 4px;
}

.film::after {
  top: 4px;
}

.arrow-wrap {
  width: 94%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #333;
  margin: 10px 0;
  opacity: 0;
  transition: all 0.5s;
  transform: translateX(-10px);
}

.right-arrow {
  transform: translateX(10px);
}

.arrow::before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #333;
  margin: 5px 0;
  transform: translate(-2px, 0px) rotate(45deg);
}

.right-arrow::before {
  transform: translate(17px, 0px) rotate(-45deg);
}

.onDisplay {
  opacity: 1;
  transition: all 0.5s;
  transform: translateX(0px);
}

/* MainVisuals */
.main-visuals {
}

summary {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  cursor: pointer;
}

details summary::after {
  content: "OPEN";
}

details[open] summary::after {
  content: "CLOSE";
}

.details-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

details[open] .details-contents {
  animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* 透明 */
    transform: translateY(-10px); /* 上から表示 */
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.frame-wrap {
  width: fit-content;
}

.frame {
  border: #333 8px solid;
  box-shadow: 4px 4px 5px 2px rgba(122, 122, 122, 0.91) inset;
  position: relative;
  background-color: #fffdf8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 40px;
  position: relative;
}

.main-visual-image {
  width: 60vw;
  border: 6px solid;
  border-color: #cdcdcd #e6e6e6 #f0f0f0 #c0c0c0;
  color: transparent;
}

.main-visual-image-vertical {
  height: 60vw;
  border: 6px solid;
  border-color: #cdcdcd #e6e6e6 #f0f0f0 #c0c0c0;
  color: transparent;
}

.shadow {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  filter: blur(2px);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.shadow::before {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  filter: blur(2px);
  top: 0px;
  right: -20px;
  border-left: 20px solid #868686;
  border-top: 10px solid transparent;
  height: 100%;
}

.shadow::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  filter: blur(2px);
  bottom: -18px;
  right: -20px;
  border-top: 18px solid #868686;
  border-left: 10px solid transparent;
  width: calc(100% + 14px);
}

.name {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  text-align: end;
  margin: 8px 0 20px;
}

/* Dates */
.dates p {
  width: 200px;
  font-size: 28px;
  margin: 4px auto;
}

.dates span {
  font-size: 14px;
}

.dates small {
  display: block;
  width: 180px;
  margin: 0 auto;
}

/* Access */
.access {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map {
  width: 100%;
  border: 1px solid rgb(184, 184, 184);
}

.access a,
.access p {
  width: 320px;
  font-size: 18px;
  margin: 4px 0;
}
.access p {
  color: #111;
}

@media screen and (orientation: portrait) {
  .main-visual {
    height: 100vh;
    /* max-height: 100vh; */
  }
}
