* {
  margin: 0;
  padding: 0;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif !important;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

h2 {
  width: 100%;
  font-size: 28px;
  margin-bottom: 30px;
  display: inline-block;
}

p {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 400;
}

header {
  margin: 5px 0;
}

.prev {
  font-size: 18px;
  padding: 8px;
  color: #333;
  font-weight: bold;
}

.bg-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  object-fit: cover;
  z-index: -1;
  filter: blur(6px);
  opacity: 0.4;
}

.name {
  font-size: 32px;
}

.member-logo {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 3px rgb(78, 78, 78);
  margin: 40px 0;
}

.sns-logo {
  width: auto;
  height: 32px;
  margin: 20px;
}

.detail {
  margin: 50px 5% 40px;
  margin-top: 50px;
  width: 90%;
  min-height: 500px;
}

.coming {
  margin: 30px 0;
  font-size: 20px;
}

.size-small {
  font-weight: 100;
  font-size: 20px;
}

.center {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.detail img {
  width: 70%;
  margin: 20px 0;
}
